{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {{name_category}}
{% endblock %}

{% block header %}
    <header class="header-acercaDe">
        {% block portada %}
            <img src="{% static 'images/portada-mideza_1200px-350px.jpg' %}" alt="Portada de Mijail Denis Zavala Llanco"/>
        {% endblock %}

        {% block tituloPortada %}
            <div class="div-acercaDe">
                <h1>
                    ['UN','POCO','SOBRE','MÍ']
                </h1>
            </div> 
        {% endblock  %}
    </header>
{% endblock %}

{% block content-exterior %}
    <div id="content">
        {% block box-principal %}
            <div class="box">

                {% block content %}
                    
                    {% for data in data_pre_professional_practice %}
                        
                        <article class="pre_professional_practice-link">
                            <h2>{{data.0}}</h2>
                            <p class="date">{{data.3|date:"SHORT_DATE_FORMAT"}} - {{data.4|date:"SHORT_DATE_FORMAT"}}</p>                         
                            <p class="held_position">{{data.1}}</p>
                            <br/>
                            <p><b>FUNCIONES:</b></p>
                            <br/>
                            <p class="functions">{{data.2|safe}}</p>
                        </article>

                    {% endfor %}

                    <div class="pagination">

                        {% if data_pre_professional_practice.has_previous %} 
                            <a href="?page=1">&laquo; Primero</a> 
                            <a href="?page={{data_pre_professional_practice.previous_page_number}}">Anterior</a>
                        {% endif %}
                    
                        <span class="actual">
                            Página {{data_pre_professional_practice.number}} de {{data_pre_professional_practice.paginator.num_pages}}
                        </span>
                    
                        {% if data_pre_professional_practice.has_next %} 
                            <a href="?page={{data_pre_professional_practice.next_page_number}}">Siguiente</a>
                            <a href="?page={{data_pre_professional_practice.paginator.num_pages}}">Ultima &raquo;</a> 
                        {% endif %}
                        
                    </div>

                {% endblock %}
                
            </div>
        {% endblock %}
    </div>
{% endblock %}